NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyAbPHKgIcGCgP_FwNS8svBSfygkmfaCBfk"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="redsurf-fdd99.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="redsurf-fdd99"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="redsurf-fdd99.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="130154861588"
NEXT_PUBLIC_FIREBASE_APP_ID="1:130154861588:web:97975aadd70805d4730301"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-25MPCDD2XV"
